- name: Update apt
  apt:
    update_cache: yes

- name: Install basic packages
  apt:
    name:
      - curl
      - git
    state: present

- name: Install Node.js 18
  shell: |
    curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
    apt install -y nodejs
  args:
    creates: /usr/bin/node
  warn: false

- name: Install PM2 globally
  npm:
    name: pm2
    global: yes

- name: Enable PM2 startup
  shell: env PATH=$PATH:/usr/bin pm2 startup systemd -u ubuntu --hp /home/ubuntu
  become: yes
